@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');

* {
    margin: 0;
    padding: 0;
}





body{
    background: #0B1C22;
    font-family: 'Palanquin Dark', sans-serif;
    color: white;
}

#fondo{
	width: 700px;
    height: 600px;
	background-color:;
	margin:100px;
    
	
}


#player {
    width: 550px;
    height: 550px;
    position:relative;
    top:;
    margin:;
    border-radius: 50%;
    border: 1px solid #D0D0D0;
}
#player .cover {
    width: 550px;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 50%;
}
#player .container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#player .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 550px;
    height: 220px;
    background-color: #FFF;
}
#player .info .cont {
    text-align: center;
    padding-top: 25px;
}
#player .trackinfo {
    position: absolute;
    bottom: 120px;
    color: #FFF;
}
#player .trackinfo p {
    text-shadow: 0px 0px 5px #333;
}
#player .trackinfo #title {
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 5px;
}
#player .trackinfo #artist {
    padding-left: 150px;
}
#track {
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #272727;
    bottom: 220px;
    z-index: 100;
    cursor: pointer;
}
#progress {
    float: left;
    height: 10px;
    width: 0%;
    background:#E2E2E2;
    cursor: pointer;
}
#handler {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ACACAC;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}
.nav {
    width: 50px;
    height: 50px;
    vertical-align: top;
    background-color: #FFF;
    border: 2px solid #000000;
    border-radius: 50%;
    outline: none;
    margin: 0 7px;
    cursor: pointer;
}
.nav:hover {
    background-color: #000000;
}
.nav img {
    height: 20px;
    vertical-align: middle;
}
.pad {
    padding-left: 5px;
}
#prev {
    padding-right: 5px;
}
#next {
    padding-left: 4px;
}